@import url(https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,regular,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Neucha:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #022321;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #CAE6F8;
}

body.nav-active {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__body {
  min-height: 100svh;
  position: relative;
}

.navbar,
.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100svh;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25rem;
  right: -25rem;
  padding: 0 3.125rem;
  background-color: #F6F6F6;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
}

.navbar.active {
  -webkit-transform: translateX(-25rem);
      -ms-transform: translateX(-25rem);
          transform: translateX(-25rem);
  visibility: visible;
}

.navbar__top {
  position: relative;
  margin-bottom: 6.25rem;
}

.navbar__link {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.625rem;
  line-height: 1.2;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.navbar__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 0%;
  background: #CAE6F8;
  z-index: -1;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  margin-top: 0.625rem;
  padding: 0 0.625rem 3.125rem;
}

.navbar__social-img {
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid #E6332A;
  border-radius: 100%;
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
}

.navbar__social-img img,
.navbar__social-img svg {
  width: 100%;
}

.navbar__list .navbar__item:hover ~ .navbar__cursor {
  -webkit-transform: scale(6);
      -ms-transform: scale(6);
          transform: scale(6);
}

.nav-btn {
  position: absolute;
  background-color: #E6332A;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, gap 0.3s ease;
  transition: background-color 0.3s ease, gap 0.3s ease;
  z-index: 5;
}

.nav-btn span {
  width: 55%;
  height: 5%;
  background-color: #F6F6F6;
}

.nav-btn-close {
  display: block;
  position: absolute;
  right: -1.25rem;
  top: 1.875rem;
  padding: 7px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-btn-close::before,
.nav-btn-close::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #E6332A;
  border-radius: 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-btn-close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay {
  right: -100%;
  background-color: #022321;
  opacity: 0.3;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99;
}

.overlay.active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: visible;
}

.cloud-1 {
  position: absolute;
  width: 21%;
  top: 7%;
  left: 8%;
  z-index: -2;
}

.cloud-2 {
  position: absolute;
  width: 11%;
  top: 22%;
  left: 45%;
  z-index: -2;
}

.cloud-3 {
  position: absolute;
  width: 18%;
  top: 5%;
  right: 14%;
  z-index: -2;
}

.big-ben {
  position: absolute;
  width: 29.48%;
  bottom: 10.2777777778%;
  left: 0;
  z-index: 1;
}

.london-eye {
  position: absolute;
  width: 28%;
  bottom: 10.2777777778%;
  left: 5.7%;
  z-index: -1;
  -webkit-animation: wheel 100s infinite linear;
          animation: wheel 100s infinite linear;
}

.eye-base {
  position: absolute;
  width: 13.5%;
  bottom: 10.2777777778%;
  left: 12.9%;
  z-index: -2;
}

@-webkit-keyframes wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.tower-bridge {
  position: absolute;
  width: 46.46%;
  bottom: 10.2777777778%;
  left: 23.0729166667%;
  z-index: -1;
}

.mary-axe {
  position: absolute;
  width: 11.3020833333%;
  bottom: 10.2777777778%;
  left: 65.4166666667%;
  z-index: -1;
}

.stpaul-cathedral {
  position: absolute;
  width: 23.1770833333%;
  bottom: 10.2777777778%;
  left: 74.1666666667%;
  z-index: -1;
}

.car {
  position: absolute;
  width: 10.625%;
  bottom: 8.27%;
  left: -20.8333333333%;
  z-index: 6;
  -webkit-animation: running-car 20s 5s linear infinite;
          animation: running-car 20s 5s linear infinite;
}

.bus {
  position: absolute;
  width: 13.90625%;
  bottom: 8.27%;
  left: 47.5%;
  z-index: 5;
  -webkit-animation: running-bus 20s linear infinite;
          animation: running-bus 20s linear infinite;
}

@-webkit-keyframes running-car {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

@keyframes running-car {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes running-bus {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

@keyframes running-bus {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

.man {
  position: absolute;
  width: 1.8125%;
  bottom: 1.5%;
  left: 32.5%;
  z-index: 10;
}

.phone {
  position: absolute;
  width: 3.2291666667%;
  bottom: 1.5%;
  left: 35.8333333333%;
  z-index: 10;
}

.light {
  position: absolute;
  width: 1.3541666667%;
  bottom: 1.5%;
  left: 63.5416666667%;
  z-index: 10;
}

.soldiers {
  position: absolute;
  width: 5.0520833333%;
  bottom: 1.5%;
  left: 69.7395833333%;
  z-index: 10;
}

.road {
  width: 100%;
  height: 3.4259259259%;
  background-color: #706F6F;
  position: absolute;
  bottom: 6.8518518519%;
}

.sidewalk {
  width: 100%;
  height: 6.8518518519%;
  background-color: #9D9D9C;
  position: absolute;
  bottom: 0;
}

.copyright {
  margin: auto 0.625rem 3.125rem;
  line-height: 1.3;
  font-size: 0.9375rem;
}

.copyright a {
  text-decoration: underline;
}

.copyright a:hover {
  text-decoration: none;
}

.footer {
  border-top: 20px solid #F6F6F6;
  position: relative;
  width: 100%;
}

.footer .footer__map {
  height: 100svh;
}

.footer .footer__map iframe {
  width: 100%;
  height: 100%;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 1.25rem;
  min-width: 22.25rem;
  height: 13.75rem;
  background-color: #E6332A;
  bottom: 0;
  left: 50%;
  border-radius: 1.875rem 1.875rem 0 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  color: #F6F6F6;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 1.875rem;
}

.footer__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content-item:first-child {
  margin-bottom: 0.625rem;
}

.footer__content-item:last-child .footer__content-img img {
  margin-top: 0.1875rem;
}

.footer__content-img {
  width: 1.5625rem;
  height: 1.5625rem;
  overflow: hidden;
}

.footer__content-img img {
  width: 100%;
}

.footer__content-text {
  margin-left: 0.4375rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 1.5625rem;
}

.footer__social-img {
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid #F6F6F6;
  border-radius: 100%;
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
}

.footer__social-img img,
.footer__social-img svg {
  width: 100%;
}

body {
  overflow-x: hidden;
}

[data-animate] {
  opacity: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

[data-animate].animated {
  opacity: 1;
}

[data-animate=bottom] {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

[data-animate=bottom].animated {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

[data-animate=left] {
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}

[data-animate=right] {
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
}

[data-animate=left].animated,
[data-animate=right].animated {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.title {
  font-family: "Londrina Solid";
  font-weight: 700;
}

.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100svh;
  background: #F6F6F6;
  z-index: 1000000;
  visibility: visible;
}

.preloader:before {
  content: "Loading";
  position: absolute;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(230, 51, 42, 0.3);
}

.preloader__counter {
  position: relative;
  color: #E6332A;
  font-weight: 700;
  z-index: 1;
}

.preloader__counter:after {
  content: "%";
  font-size: 0.5em;
}

.preloader.loaded {
  visibility: hidden;
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.hide-counter {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.fixedbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 7.5rem;
  right: -100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1.25rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.fixedbtn.active {
  opacity: 1;
  visibility: visible;
  right: 0.625rem;
}

.contacts {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contacts.active {
  padding: 1.375rem 2.5rem 1.125rem 1.25rem;
  border-radius: 1.5625rem;
  background: #F6F6F6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.3);
          box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.3);
}

.contacts__content {
  display: none;
}

.contacts-open.active {
  display: none;
}

.contacts-close {
  display: none;
  width: 1.875rem;
  height: 1.125rem;
  position: absolute;
  right: 0.3125rem;
  top: 0.9375rem;
  padding: 0.4375rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.contacts-close::before {
  position: absolute;
  content: "";
  width: 0.0625rem;
  height: 100%;
  background-color: #022321;
  border-radius: 0.0625rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contacts-close::after {
  position: absolute;
  content: "";
  width: 0.0625rem;
  height: 100%;
  background-color: #022321;
  border-radius: 0.0625rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contacts.active .contacts__content {
  display: block;
}

.contacts.active .contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.5rem 0.625rem;
  border-radius: 0.625rem;
}

.contacts.active .contacts-close {
  display: block;
}

.contacts-open,
.go-top {
  background-color: #E6332A;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  -webkit-box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.3);
          box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contacts-open img,
.contacts-open svg,
.go-top img,
.go-top svg {
  width: 100%;
  height: 100%;
}

.about__title {
  text-align: center;
  max-width: 645px;
  margin: 0 auto 3.125rem;
}

.about .about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125rem;
  position: relative;
}

.about .about__item:last-child {
  margin-bottom: 0;
}

.about .about__item .about__img {
  overflow: hidden;
  max-width: 45rem;
  max-height: 35.625rem;
  border: 0.625rem solid #F6F6F6;
  border-radius: 1.875rem;
}

.about .about__item .img-location__item {
  position: relative;
}

.about .about__item .img-location__item .img-location__text {
  color: #022321;
  position: absolute;
  top: 79%;
  right: 17%;
}

.about .about__item .img-location__item .img-location__city {
  position: absolute;
  background-color: #E6332A;
  border-radius: 50%;
  top: 82%;
  right: 20%;
}

.about .about__item .img-location__item .img-location__city::before {
  position: absolute;
  content: "";
  border: 0.0625rem solid #E6332A;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-animation: play 1.5s infinite ease;
          animation: play 1.5s infinite ease;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes play {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

.about .about__item .about__text {
  width: 39.625rem;
  background-color: #F6F6F6;
  border-radius: 1.875rem;
  font-family: Neucha;
  color: #022321;
  margin-left: -300px;
}

.about .about__item .about__text--second {
  margin-left: 0;
  margin-right: -18.75rem;
  z-index: 5;
}

.about img {
  max-width: 100%;
}

.guides__slide {
  position: relative;
}

.guides__slide-img {
  max-width: 100%;
  max-height: 100%;
  border: 10px solid #F6F6F6;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
}

.guides__slide-img:hover .info__slide {
  bottom: -1px;
}

.guides__slide-img img {
  max-width: 100%;
}

.guides__slider {
  position: relative;
  width: 100%;
}

.guides .swiper-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
      -ms-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 2.5rem;
  height: 2.5rem;
  background-color: #E6332A;
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.guides .swiper-button-prev {
  -webkit-transform: translatex(-60px);
      -ms-transform: translatex(-60px);
          transform: translatex(-60px);
}

.guides .swiper-button-next {
  -webkit-transform: translatex(20px);
      -ms-transform: translatex(20px);
          transform: translatex(20px);
}

.guides .swiper-button-disabled {
  background-color: transparent;
  border: 0.0625rem solid #E6332A;
}

.guides .swiper-button-disabled svg path {
  fill: #E6332A;
}

.info__slide {
  position: absolute;
  background: #F6F6F6;
  width: 70%;
  border-radius: 3rem;
  padding: 0.5rem;
  left: 0;
  right: 0;
  bottom: -1.3125rem;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform-origin: 18px 17px;
      -ms-transform-origin: 18px 17px;
          transform-origin: 18px 17px;
}

.info__slide-control {
  position: relative;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transform-origin: 18px 18px;
      -ms-transform-origin: 18px 18px;
          transform-origin: 18px 18px;
  -webkit-transition: -webkit-transform 0.45s ease;
  transition: -webkit-transform 0.45s ease;
  transition: transform 0.45s ease;
  transition: transform 0.45s ease, -webkit-transform 0.45s ease;
}

.info__slide-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #E6332A;
  color: #F6F6F6;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info__slide-name,
.info__slide-social {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3rem;
}

.info__slide-name {
  top: 0.5625rem;
}

.info__slide-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 18px 17px;
      -ms-transform-origin: 18px 17px;
          transform-origin: 18px 17px;
  padding-left: 2.6875rem;
}

.info__slide-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.375rem;
  width: 33px;
  height: 33px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.info__slide.animation {
  -webkit-animation: up-animation 1s ease-in-out forwards;
          animation: up-animation 1s ease-in-out forwards;
}

.info__slide.down-animation {
  -webkit-animation: down-animation 1s ease-in-out forwards;
          animation: down-animation 1s ease-in-out forwards;
}

.animation .info__slide-control {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@-webkit-keyframes up-animation {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  50%, 60% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  88% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@keyframes up-animation {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  50%, 60% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  88% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@-webkit-keyframes down-animation {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  50%, 60% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }

  88% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes down-animation {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  50%, 60% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }

  88% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

.excursions__tabs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.excursions__tabs-btn {
  padding: 0.9375rem;
  border: 0.0625rem solid #E6332A;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  color: #E6332A;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.excursions__tabs-btn.active {
  color: #F6F6F6;
  background-color: #E6332A;
}

.excursions__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 3.125rem 1.875rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.excursions__item {
  background-color: #F6F6F6;
  border-radius: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.excursions__img {
  min-width: 23.75rem;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.excursions__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.excursions__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.excursions__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}

.excursions__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  margin-bottom: 0.9375rem;
}

.excursions__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.excursions__info-icon {
  width: 1.25rem;
  height: 1rem;
}

.excursions__info-icon img {
  width: 100%;
  height: 100%;
}

.excursions__info-text {
  font-size: 0.875rem;
  font-style: italic;
}

.excursions__text {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  margin-bottom: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.excursions__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.excursions__footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.excursions__footer-price {
  font-size: 1.25rem;
  font-weight: 700;
}

.excursions__footer-quantity {
  font-size: 0.875rem;
  font-style: italic;
}

.excursions__footer-link {
  padding: 0.75rem 1.125rem;
  font-size: 0.9375rem;
  color: #F6F6F6;
  background-color: #E6332A;
  border: 1px solid #E6332A;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hide {
  display: none;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
}

.advantages__item {
  width: 23.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.advantages__img {
  width: 3.75rem;
  height: 5rem;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.advantages__img img {
  width: 100%;
  height: 100%;
}

.advantages__text {
  font-family: "Neucha";
  line-height: 3.125rem;
  text-align: center;
  color: #E6332A;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5625rem;
}

.reviews__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.25rem;
          flex: 0 0 11.25rem;
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 50%;
  border: 0.625rem solid #F6F6F6;
  overflow: hidden;
}

.reviews__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__content {
  padding: 1.25rem;
  background-color: #F6F6F6;
  border-radius: 1.25rem;
  position: relative;
}

.reviews__content::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1.25rem solid transparent;
  border-bottom: 1.25rem solid transparent;
  border-right: 2.5rem solid #F6F6F6;
  left: -2.375rem;
  top: 4.375rem;
}

.reviews__content-title {
  line-height: 2.125rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.reviews__content-rating {
  width: 6.75rem;
  height: 1.25rem;
  margin-bottom: 1.5625rem;
}

.reviews__content-rating img {
  width: 100%;
}

.reviews__content-text {
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

.reviews__content-user {
  color: #514747;
  font-weight: 500;
  font-style: italic;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 26.25em) {
  .title {
    font-size: 2.25rem;
  }
}

@media (min-width: 76.875em) {
  .navbar__link {
    font-size: 2.25rem;
  }

  .nav-btn {
    width: 6.5rem;
  }

  .nav-btn {
    height: 6.5rem;
  }

  .nav-btn {
    top: 2.875rem;
  }

  .nav-btn {
    right: 1.25rem;
  }

  .nav-btn {
    gap: 0.875rem;
  }

  .nav-btn-close {
    width: 3rem;
  }

  .nav-btn-close {
    height: 3rem;
  }

  .title-block {
    margin-bottom: 3.75rem;
  }

  .preloader:before {
    font-size: 15rem;
  }

  .preloader__counter {
    font-size: 20rem;
  }

  .contacts-open,
  .go-top {
    width: 4.375rem;
  }

  .contacts-open,
  .go-top {
    height: 4.375rem;
  }

  .contacts-open,
  .go-top {
    padding-block: 1rem;
  }

  .contacts-open,
  .go-top {
    padding-inline: 0.875rem;
  }

  .about {
    padding-top: 6.25rem;
  }

  .about {
    padding-bottom: 9.375rem;
  }

  .about .about__item .img-location__item .img-location__text {
    font-size: 0.875rem;
  }

  .about .about__item .img-location__item .img-location__city {
    width: 1.25rem;
  }

  .about .about__item .img-location__item .img-location__city {
    height: 1.25rem;
  }

  .about .about__item .about__text {
    padding: 3.25rem;
  }

  .about .about__item .about__text {
    font-size: 2.1875rem;
  }

  .about .about__item .about__text {
    line-height: 3.125rem;
  }

  .guides {
    padding-bottom: 9.375rem;
  }

  .guides__slider {
    padding-bottom: 6.25rem;
  }

  .excursions {
    padding-bottom: 9.375rem;
  }

  .advantages {
    padding-bottom: 9.375rem;
  }

  .advantages__text {
    font-size: 1.75rem;
  }

  .reviews {
    padding-bottom: 9.375rem;
  }

  .reviews__content-title {
    font-size: 1.75rem;
  }

  .reviews__content-text {
    font-size: 1.25rem;
  }

  .reviews__content-user {
    font-size: 1.5rem;
  }
}

@media (max-width: 64em) {
  .cloud-1 {
    width: 40%;
    top: 8%;
    left: 5%;
  }

  .cloud-2 {
    width: 20%;
    top: 24%;
    left: 45%;
  }

  .cloud-3 {
    right: 20%;
  }

  .big-ben {
    width: 47.48%;
    left: -29%;
  }

  .london-eye {
    width: 45%;
    left: -18.1%;
  }

  .eye-base {
    width: 20.5%;
    left: -6.1%;
  }

  .tower-bridge {
    width: 73.46%;
    left: 9.1%;
  }

  .mary-axe {
    width: 19.3%;
    left: 67.41%;
  }

  .stpaul-cathedral {
    width: 38.17%;
    left: 69.16%;
  }

  .car {
    width: 15.6%;
  }

  .bus {
    width: 22%;
  }

  .man {
    width: 2.8%;
  }

  .phone {
    width: 5.2%;
  }

  .light {
    width: 2.3%;
  }

  .soldiers {
    width: 7.5%;
  }
}

@media (max-width: 50em) {
  .cloud-2 {
    width: 33%;
    top: 30%;
    left: 15%;
  }

  .cloud-3 {
    width: 38%;
    top: 21%;
    right: 5%;
  }
}

@media (max-width: 30em) {
  .navbar.active {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .navbar {
    width: 80%;
    right: -80%;
    padding: 0 1.25rem;
  }

  .nav-btn-close {
    right: 0;
  }

  .man {
    width: 4.3%;
    left: 29.5%;
  }

  .phone {
    width: 7.2%;
  }

  .light {
    width: 3.1%;
  }

  .soldiers {
    width: 11.5%;
  }
}

@media (max-width: 74.0625em) {
  .about .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
  }

  .about .about__item .about__text {
    margin: 0;
    width: 45rem;
  }

  .about .about__item .about__text--second {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 71.25em) {
  .excursions__tabs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: auto;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
    gap: 0.75rem;
  }
}

@media (max-width: 57.8125em) {
  .advantages__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 51.25em) {
  .about__title {
    width: 85%;
  }

  .about .about__item .about__img {
    max-width: 100%;
  }

  .about .about__item .img-location__item .img-location__text {
    top: 80%;
    right: 18%;
  }

  .about .about__item .about__text {
    width: 100%;
  }

  .reviews__wrapper {
    gap: 3.125rem;
  }

  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__content::before {
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 2.5rem solid #F6F6F6;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -3.4375rem;
  }
}

@media (max-width: 38.125em) {
  .about .about__item .img-location__item .img-location__text {
    top: 79%;
    right: 17%;
  }
}

@media (max-width: 36.25em) {
  .footer .footer__map {
    height: 70vh;
  }

  .footer__wrapper {
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .fixedbtn {
    bottom: 2.5rem;
  }
}

@media (max-width: 29.99875em) {
  .excursions__tabs-btn {
    font-size: 0.875rem;
  }
}

@media (max-width: 28.75em) {
  .footer__content {
    display: block;
  }

  .footer__social {
    margin: 0;
  }

  .excursions__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .excursions__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 17.5rem;
            flex: 0 1 17.5rem;
  }

  .excursions__img {
    min-width: 280px;
  }
}

@media (max-width: 23.75em) {
  .excursions__footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .excursions__footer-item {
    min-width: 100%;
    margin-bottom: 20px;
  }

  .excursions__footer-link {
    padding-inline: 0.75rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 21.25em) {
  .footer__content {
    font-size: 0.875rem;
  }
}

@media (max-width: 17.5em) {
  .navbar__link {
    font-size: 1.5625rem;
  }

  .nav-btn {
    width: 3.125rem;
  }

  .nav-btn {
    height: 3.125rem;
  }

  .nav-btn {
    top: 1.25rem;
  }

  .nav-btn {
    right: 0.625rem;
  }

  .nav-btn {
    gap: 0.4375rem;
  }

  .nav-btn-close {
    width: 2.5rem;
  }

  .nav-btn-close {
    height: 2.5rem;
  }

  .title-block {
    margin-bottom: 2.1875rem;
  }

  .preloader:before {
    font-size: 2.5rem;
  }

  .preloader__counter {
    font-size: 3.125rem;
  }

  .contacts-open,
  .go-top {
    width: 3.125rem;
  }

  .contacts-open,
  .go-top {
    height: 3.125rem;
  }

  .contacts-open,
  .go-top {
    padding-block: 0.75rem;
  }

  .contacts-open,
  .go-top {
    padding-inline: 0.625rem;
  }

  .about {
    padding-top: 1.875rem;
  }

  .about {
    padding-bottom: 4.375rem;
  }

  .about .about__item .img-location__item .img-location__text {
    font-size: 0.625rem;
  }

  .about .about__item .img-location__item .img-location__city {
    width: 0.875rem;
  }

  .about .about__item .img-location__item .img-location__city {
    height: 0.875rem;
  }

  .about .about__item .about__text {
    padding: 1.375rem;
  }

  .about .about__item .about__text {
    font-size: 1.375rem;
  }

  .about .about__item .about__text {
    line-height: 1.75rem;
  }

  .guides {
    padding-bottom: 6.25rem;
  }

  .guides__slider {
    padding-bottom: 5.875rem;
  }

  .excursions {
    padding-bottom: 6.25rem;
  }

  .advantages {
    padding-bottom: 6.25rem;
  }

  .advantages__text {
    font-size: 1.5rem;
  }

  .reviews {
    padding-bottom: 6.25rem;
  }

  .reviews__content-title {
    font-size: 1.25rem;
  }

  .reviews__content-text {
    font-size: 0.9375rem;
  }

  .reviews__content-user {
    font-size: 1.125rem;
  }
}

@media (min-width: 17.5em) and (max-width: 76.875em) {
@supports (font-size: clamp( 1.5625rem , 1.3598684211rem  +  1.1578947368vw , 2.25rem )) {
    .navbar__link {
      font-size: clamp( 1.5625rem , 1.3598684211rem  +  1.1578947368vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3598684211rem  +  1.1578947368vw , 2.25rem )) {
    .navbar__link {
      font-size: calc(1.5625rem + 0.6875 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (width: clamp( 3.125rem , 2.1302631579rem  +  5.6842105263vw , 6.5rem )) {
    .nav-btn {
      width: clamp( 3.125rem , 2.1302631579rem  +  5.6842105263vw , 6.5rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.1302631579rem  +  5.6842105263vw , 6.5rem )) {
    .nav-btn {
      width: calc(3.125rem + 3.375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (height: clamp( 3.125rem , 2.1302631579rem  +  5.6842105263vw , 6.5rem )) {
    .nav-btn {
      height: clamp( 3.125rem , 2.1302631579rem  +  5.6842105263vw , 6.5rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.1302631579rem  +  5.6842105263vw , 6.5rem )) {
    .nav-btn {
      height: calc(3.125rem + 3.375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (top: clamp( 1.25rem , 0.7710526316rem  +  2.7368421053vw , 2.875rem )) {
    .nav-btn {
      top: clamp( 1.25rem , 0.7710526316rem  +  2.7368421053vw , 2.875rem );
    }
}

@supports not (top: clamp( 1.25rem , 0.7710526316rem  +  2.7368421053vw , 2.875rem )) {
    .nav-btn {
      top: calc(1.25rem + 1.625 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (right: clamp( 0.625rem , 0.4407894737rem  +  1.0526315789vw , 1.25rem )) {
    .nav-btn {
      right: clamp( 0.625rem , 0.4407894737rem  +  1.0526315789vw , 1.25rem );
    }
}

@supports not (right: clamp( 0.625rem , 0.4407894737rem  +  1.0526315789vw , 1.25rem )) {
    .nav-btn {
      right: calc(0.625rem + 0.625 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (gap: clamp( 0.4375rem , 0.3085526316rem  +  0.7368421053vw , 0.875rem )) {
    .nav-btn {
      gap: clamp( 0.4375rem , 0.3085526316rem  +  0.7368421053vw , 0.875rem );
    }
}

@supports not (gap: clamp( 0.4375rem , 0.3085526316rem  +  0.7368421053vw , 0.875rem )) {
    .nav-btn {
      gap: calc(0.4375rem + 0.4375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (width: clamp( 2.5rem , 2.3526315789rem  +  0.8421052632vw , 3rem )) {
    .nav-btn-close {
      width: clamp( 2.5rem , 2.3526315789rem  +  0.8421052632vw , 3rem );
    }
}

@supports not (width: clamp( 2.5rem , 2.3526315789rem  +  0.8421052632vw , 3rem )) {
    .nav-btn-close {
      width: calc(2.5rem + 0.5 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (height: clamp( 2.5rem , 2.3526315789rem  +  0.8421052632vw , 3rem )) {
    .nav-btn-close {
      height: clamp( 2.5rem , 2.3526315789rem  +  0.8421052632vw , 3rem );
    }
}

@supports not (height: clamp( 2.5rem , 2.3526315789rem  +  0.8421052632vw , 3rem )) {
    .nav-btn-close {
      height: calc(2.5rem + 0.5 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.7269736842rem  +  2.6315789474vw , 3.75rem )) {
    .title-block {
      margin-bottom: clamp( 2.1875rem , 1.7269736842rem  +  2.6315789474vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.7269736842rem  +  2.6315789474vw , 3.75rem )) {
    .title-block {
      margin-bottom: calc(2.1875rem + 1.5625 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 2.5rem , -1.1842105263rem  +  21.0526315789vw , 15rem )) {
    .preloader:before {
      font-size: clamp( 2.5rem , -1.1842105263rem  +  21.0526315789vw , 15rem );
    }
}

@supports not (font-size: clamp( 2.5rem , -1.1842105263rem  +  21.0526315789vw , 15rem )) {
    .preloader:before {
      font-size: calc(2.5rem + 12.5 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 3.125rem , -1.8486842105rem  +  28.4210526316vw , 20rem )) {
    .preloader__counter {
      font-size: clamp( 3.125rem , -1.8486842105rem  +  28.4210526316vw , 20rem );
    }
}

@supports not (font-size: clamp( 3.125rem , -1.8486842105rem  +  28.4210526316vw , 20rem )) {
    .preloader__counter {
      font-size: calc(3.125rem + 16.875 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (width: clamp( 3.125rem , 2.7565789474rem  +  2.1052631579vw , 4.375rem )) {
    .contacts-open,
    .go-top {
      width: clamp( 3.125rem , 2.7565789474rem  +  2.1052631579vw , 4.375rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.7565789474rem  +  2.1052631579vw , 4.375rem )) {
    .contacts-open,
    .go-top {
      width: calc(3.125rem + 1.25 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (height: clamp( 3.125rem , 2.7565789474rem  +  2.1052631579vw , 4.375rem )) {
    .contacts-open,
    .go-top {
      height: clamp( 3.125rem , 2.7565789474rem  +  2.1052631579vw , 4.375rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.7565789474rem  +  2.1052631579vw , 4.375rem )) {
    .contacts-open,
    .go-top {
      height: calc(3.125rem + 1.25 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-block: clamp( 0.75rem , 0.6763157895rem  +  0.4210526316vw , 1rem )) {
    .contacts-open,
    .go-top {
      padding-block: clamp( 0.75rem , 0.6763157895rem  +  0.4210526316vw , 1rem );
    }
}

@supports not (padding-block: clamp( 0.75rem , 0.6763157895rem  +  0.4210526316vw , 1rem )) {
    .contacts-open,
    .go-top {
      padding-block: calc(0.75rem + 0.25 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-inline: clamp( 0.625rem , 0.5513157895rem  +  0.4210526316vw , 0.875rem )) {
    .contacts-open,
    .go-top {
      padding-inline: clamp( 0.625rem , 0.5513157895rem  +  0.4210526316vw , 0.875rem );
    }
}

@supports not (padding-inline: clamp( 0.625rem , 0.5513157895rem  +  0.4210526316vw , 0.875rem )) {
    .contacts-open,
    .go-top {
      padding-inline: calc(0.625rem + 0.25 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5855263158rem  +  7.3684210526vw , 6.25rem )) {
    .about {
      padding-top: clamp( 1.875rem , 0.5855263158rem  +  7.3684210526vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5855263158rem  +  7.3684210526vw , 6.25rem )) {
    .about {
      padding-top: calc(1.875rem + 4.375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 2.9013157895rem  +  8.4210526316vw , 9.375rem )) {
    .about {
      padding-bottom: clamp( 4.375rem , 2.9013157895rem  +  8.4210526316vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 2.9013157895rem  +  8.4210526316vw , 9.375rem )) {
    .about {
      padding-bottom: calc(4.375rem + 5 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5513157895rem  +  0.4210526316vw , 0.875rem )) {
    .about .about__item .img-location__item .img-location__text {
      font-size: clamp( 0.625rem , 0.5513157895rem  +  0.4210526316vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5513157895rem  +  0.4210526316vw , 0.875rem )) {
    .about .about__item .img-location__item .img-location__text {
      font-size: calc(0.625rem + 0.25 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (width: clamp( 0.875rem , 0.7644736842rem  +  0.6315789474vw , 1.25rem )) {
    .about .about__item .img-location__item .img-location__city {
      width: clamp( 0.875rem , 0.7644736842rem  +  0.6315789474vw , 1.25rem );
    }
}

@supports not (width: clamp( 0.875rem , 0.7644736842rem  +  0.6315789474vw , 1.25rem )) {
    .about .about__item .img-location__item .img-location__city {
      width: calc(0.875rem + 0.375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (height: clamp( 0.875rem , 0.7644736842rem  +  0.6315789474vw , 1.25rem )) {
    .about .about__item .img-location__item .img-location__city {
      height: clamp( 0.875rem , 0.7644736842rem  +  0.6315789474vw , 1.25rem );
    }
}

@supports not (height: clamp( 0.875rem , 0.7644736842rem  +  0.6315789474vw , 1.25rem )) {
    .about .about__item .img-location__item .img-location__city {
      height: calc(0.875rem + 0.375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding: clamp( 1.375rem , 0.8223684211rem  +  3.1578947368vw , 3.25rem )) {
    .about .about__item .about__text {
      padding: clamp( 1.375rem , 0.8223684211rem  +  3.1578947368vw , 3.25rem );
    }
}

@supports not (padding: clamp( 1.375rem , 0.8223684211rem  +  3.1578947368vw , 3.25rem )) {
    .about .about__item .about__text {
      padding: calc(1.375rem + 1.875 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.1355263158rem  +  1.3684210526vw , 2.1875rem )) {
    .about .about__item .about__text {
      font-size: clamp( 1.375rem , 1.1355263158rem  +  1.3684210526vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.1355263158rem  +  1.3684210526vw , 2.1875rem )) {
    .about .about__item .about__text {
      font-size: calc(1.375rem + 0.8125 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (line-height: clamp( 1.75rem , 1.3447368421rem  +  2.3157894737vw , 3.125rem )) {
    .about .about__item .about__text {
      line-height: clamp( 1.75rem , 1.3447368421rem  +  2.3157894737vw , 3.125rem );
    }
}

@supports not (line-height: clamp( 1.75rem , 1.3447368421rem  +  2.3157894737vw , 3.125rem )) {
    .about .about__item .about__text {
      line-height: calc(1.75rem + 1.375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .guides {
      padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .guides {
      padding-bottom: calc(6.25rem + 3.125 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 5.875rem , 5.7644736842rem  +  0.6315789474vw , 6.25rem )) {
    .guides__slider {
      padding-bottom: clamp( 5.875rem , 5.7644736842rem  +  0.6315789474vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 5.875rem , 5.7644736842rem  +  0.6315789474vw , 6.25rem )) {
    .guides__slider {
      padding-bottom: calc(5.875rem + 0.375 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .excursions {
      padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .excursions {
      padding-bottom: calc(6.25rem + 3.125 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .advantages {
      padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .advantages {
      padding-bottom: calc(6.25rem + 3.125 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.5rem , 1.4263157895rem  +  0.4210526316vw , 1.75rem )) {
    .advantages__text {
      font-size: clamp( 1.5rem , 1.4263157895rem  +  0.4210526316vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.4263157895rem  +  0.4210526316vw , 1.75rem )) {
    .advantages__text {
      font-size: calc(1.5rem + 0.25 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .reviews {
      padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.3289473684rem  +  5.2631578947vw , 9.375rem )) {
    .reviews {
      padding-bottom: calc(6.25rem + 3.125 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1026315789rem  +  0.8421052632vw , 1.75rem )) {
    .reviews__content-title {
      font-size: clamp( 1.25rem , 1.1026315789rem  +  0.8421052632vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1026315789rem  +  0.8421052632vw , 1.75rem )) {
    .reviews__content-title {
      font-size: calc(1.25rem + 0.5 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8453947368rem  +  0.5263157895vw , 1.25rem )) {
    .reviews__content-text {
      font-size: clamp( 0.9375rem , 0.8453947368rem  +  0.5263157895vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8453947368rem  +  0.5263157895vw , 1.25rem )) {
    .reviews__content-text {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 17.5rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0144736842rem  +  0.6315789474vw , 1.5rem )) {
    .reviews__content-user {
      font-size: clamp( 1.125rem , 1.0144736842rem  +  0.6315789474vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0144736842rem  +  0.6315789474vw , 1.5rem )) {
    .reviews__content-user {
      font-size: calc(1.125rem + 0.375 * (100vw - 17.5rem) / 59.375);
    }
}
}

@media (min-width: 17.5em) and (max-width: 26.25em) {
@supports (font-size: clamp( 1.5rem , 0.0000000625rem  +  8.5714285714vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.5rem , 0.0000000625rem  +  8.5714285714vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.0000000625rem  +  8.5714285714vw , 2.25rem )) {
    .title {
      font-size: calc(1.5rem + 0.75 * (100vw - 17.5rem) / 8.75);
    }
}
}

@media (max-height: 30em) {
  .cloud-1,
  .cloud-2,
  .cloud-3 {
    display: none;
  }
}

@media (hover: hover) {
  .nav-btn:hover {
    background-color: #F6F6F6;
    gap: 0.3125rem;
  }

  .nav-btn:hover span {
    background-color: #3C3C3B;
  }

  .nav-btn-close:hover::before,
  .nav-btn-close:hover::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .navbar__link:hover {
    color: #E6332A;
  }

  .navbar__link:hover::before {
    width: 100%;
  }

  .navbar__social-img:hover {
    background-color: #E6332A;
  }

  .navbar__social-img:hover svg path {
    fill: #F6F6F6;
  }

  .contacts-open:hover,
  .go-top:hover {
    background-color: #F6F6F6;
    border-radius: 30%;
  }

  .contacts-open:hover svg path,
  .go-top:hover svg path {
    fill: #E6332A;
  }

  .contacts-close:hover::before,
  .contacts-close:hover::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .contacts.active .contacts__link:hover {
    background: #e7e7e7;
  }

  .info__slide-toggle:hover {
    background: #F6F6F6;
    -webkit-box-shadow: 0 2px 8px 0 rgba(68, 68, 68, 0.3);
            box-shadow: 0 2px 8px 0 rgba(68, 68, 68, 0.3);
  }

  .info__slide-toggle:hover svg path {
    fill: #E6332A;
  }

  .swiper-button:hover {
    background-color: rgba(230, 51, 42, 0.7);
  }

  .swiper-button-disabled:hover {
    background-color: transparent;
  }

  .info__slide-icon:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .excursions__tabs-btn:hover {
    color: #F6F6F6;
    background-color: #E6332A;
  }

  .excursions__item:hover {
    -webkit-transform: translatey(-10px);
        -ms-transform: translatey(-10px);
            transform: translatey(-10px);
  }

  .excursions__item:hover .excursions__img img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .excursions__footer-link:hover {
    background-color: #F6F6F6;
    color: #E6332A;
    border: 1px solid #E6332A;
  }

  .advantages__item:hover .advantages__img {
    -webkit-transform: translateY(-35%);
        -ms-transform: translateY(-35%);
            transform: translateY(-35%);
  }

  .footer__social-img:hover {
    background-color: #F6F6F6;
  }

  .footer__social-img:hover svg path {
    fill: #E6332A;
  }
}